@font-face {
    font-family: Mario;
    src: url(SuperMario256.ttf);
}
body{font-family: Mario;text-align: center;font-size: x-large;}
img{width: 100%;}
canvas{margin-left: calc(50% - 650px);}
button{
    background-color: greenyellow;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Mario;
    margin-bottom: 50px;
}
button:hover{background-color: lightsalmon;}
a{text-decoration: none;}
